:root {
  --dark-colour: #1c1c1c;
  --neon-green: #3ecf8e;
}
/* * {
  border: 1px solid red;
} */
html {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
}
.words {
  position: absolute;
  margin-top: 12dvh;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100dvh;
  border-bottom: 1px solid #3ecf8e;
}
figure p {
  text-align: center;
  font-size: 1.2rem;
}
header {
  width: 100dvw;
  display: flex;
  justify-content: center;
}
.navbar {
  top: 0;
  width: 95dvw;
  background-color: var(--neon-green);
  height: 30px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 25px 25px;
}

.navbar a {
  color: white;
  width: 8dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  transition: 1s;
}
.navbar a:hover {
  border-radius: 0 0 50px 50px;
  background-color: white;
  color: var(--dark-colour);
  scale: 1.5;
}

.main {
  position: relative;
  top: 200px;
  left: 100px;
  width: 85dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 410dvh;
}
#aboutMe img {
  width: 15dvw;
  height: auto;
  border-radius: 50%;
  border: 1px solid var(--neon-green);
}
.main p {
  padding: 10px;
}
#aboutMe {
  border: 1px solid var(--neon-green);
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  color: white;
  align-items: center;
}
.aboutMe {
  border: none;
}
#projects {
  width: auto;
  border: 1px solid var(--neon-green);
  border-radius: 25px;
  margin-top: 10dvh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects h2 {
  text-align: center;
}
figcaption {
  position: relative;
  top: -100px;
  left: 115px;
  font-size: 20px;
}
figure {
  display: flex;
  width: 75dvw;
  align-items: center;
  border: #3ecf8e solid 1px;
  border-radius: 25px;
  padding: 0.7rem;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55dvw;
  min-height: 20dvh;
  padding-left: 1rem;
}
.projectInfo p {
  padding: 0;
}

.mobile {
  height: 50dvh;
  border-radius: 20px;
  scale: 0.8;
  transition: 0.7s;
}
.mobile:hover {
  scale: 1;
}
.landingPage {
  height: 75dvh;
  margin-bottom: 17dvh;
  border-radius: 25px;
  display: flex;
  margin-top: -5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landingPage article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  color: white;
}
#techStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 51%;
  margin-bottom: 2rem;
  border-radius: 25px;
  margin-top: 45dvh;
  background-color: var(--neon-green);
}

#techStack img {
  border-radius: 25px;
  max-width: 95%;
}

#techStack p {
  text-align: center;
}

#contactMe {
  border-radius: 25px;
  margin-top: 5dvh;
  border: 1px solid var(--neon-green);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80.5dvw;
}

form {
  border: 1px solid #3ecf8e;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  justify-content: space-evenly;
  margin-bottom: 5dvh;
}
input,
textarea {
  width: 90%;
  height: 5dvh;
  border-radius: 8px;
}
textarea {
  height: 15dvh;
}
label {
  text-align: center;
  padding: 1.5rem;
}
aside button {
  width: 10rem;
}
button a {
  text-decoration: none;
  color: white;
}

button {
  margin-bottom: 1rem;
  transition: 1s;
  background-color: #3ecf8e;
  width: 5rem;
  height: 3rem;
  border-radius: 25px;
  color: white;
}
button:hover {
  scale: 1.2;
  cursor: pointer;
  font-size: 1rem;
}
.fa-github {
  width: 2rem;
  height: 2rem;
  transition: 0.7s;
  margin-left: 1rem;
  text-align: center;
}
.fa-github:hover {
  scale: 1.6;
}

/* Media queries */

@media only screen and (max-width: 430px) {
  .navbar a {
    font-size: 0.7rem;
  }
  .navbar {
    width: 80vw;
    align-self: center;
  }
  .main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    left: 0;
    overflow-x: hidden;
    top: 5rem;
  }
  .words {
    top: -50px;
  }
  .aboutMe {
    width: 90vw;
  }
  .aboutMe p {
    font-size: 1rem;
  }
}
