:root {
  --dark-colour: #1c1c1c;
  --neon-green: #3ecf8e;
}
/* * {
  border: 1px solid red;
} */
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1c1c1c;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-colour);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  border-bottom: 1px solid #3ecf8e;
}
header {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.navbar {
  top: 0;
  width: 95vw;
  background-color: var(--neon-green);
  height: 30px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 25px 25px;
}

.navbar a {
  color: white;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  transition: 1s;
}
.navbar a:hover {
  border-radius: 0 0 50px 50px;
  background-color: white;
  color: var(--dark-colour);
  scale: 1.5;
}

.main {
  position: relative;
  top: 200px;
  left: 100px;
  width: 85vw;
  height: auto;
}
#aboutMe img {
  width: 15vw;
  height: auto;
  border-radius: 50%;
  border: 1px solid var(--neon-green);
}
.main p {
  padding: 10px;
}
#aboutMe {
  border: 1px solid var(--neon-green);
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  color: white;
  align-items: center;
}
.aboutMe {
  border: none;
}
#projects {
  width: auto;
  border: 1px solid var(--neon-green);
  border-radius: 25px;
  margin-top: 10vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects h2 {
  text-align: center;
}
figcaption {
  position: relative;
  top: -100px;
  left: 115px;
  font-size: 20px;
}
figure {
  display: flex;
  width: 75vw;
  align-items: center;
  border: #3ecf8e solid 1px;
  border-radius: 25px;
  padding: 0.7rem;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55vw;
  height: 20vh;
  padding-left: 1rem;
}
.projectInfo p {
  padding: 0;
}

.mobile {
  height: 50vh;
  border-radius: 20px;
}
.landingPage {
  height: 75vh;
  margin-bottom: 5rem;
  border: 1px solid red;
}
.landingPage article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  color: white;
  border: 1px solid red;
}

#contactMe {
  border-radius: 25px;
  margin-top: 5rem;
  height: 60vh;
  border: 1px solid #3ecf8e;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  border: 1px solid #3ecf8e;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  justify-content: space-evenly;
}
input,
textarea {
  width: 90%;
  height: 90%;
  border-radius: 8px;
}
textarea {
  height: 15vh;
}
label {
  text-align: center;
  padding: 1.5rem;
}
button {
  margin-bottom: 1rem;
  transition: 1s;
  background-color: #3ecf8e;
  width: 5rem;
  height: 3rem;
  border-radius: 25px;
  color: white;
}
button:hover {
  scale: 1.2;
  cursor: pointer;
}
